{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "jsxBracketSameLine": true,
        "singleQuote": false,
        "trailingComma": "es5"
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }]
  }
}
